// Libraries
// @import 'libs/animate';
@import 'libs/fontawesome';
// @import 'libs/jquery.bxslider';
// @import 'libs/aos';
// @import 'libs/magnific-popup';
// @import 'libs/slick';
// @import 'libs/owl.carousel.min';
// @import 'libs/owl.theme.default.min';

// Partials
@import 'partials/variables';
@import 'partials/general';
@import 'partials/typography';
@import 'partials/form';
@import 'partials/components';
@import 'partials/layout';
// @import 'partials/animations';

// Sections
@import 'sections/menu';
@import 'sections/header';
@import 'sections/content';
@import 'sections/footer';

body.bg {
  background-image: url(../images/bgs/home.png);
  background-position: left top;
  background-repeat: no-repeat;
  > * {
    opacity: 0.5;
  }
}