.footer-section {
  padding-top: 50px;
  .row {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px 0;
      .left {
        display: flex;
        align-items: center;
        height: 100%;
        a {
          font-family: 'Raleway', sans-serif;
          text-decoration: none;
          font-weight: bold;
          color: #222;
          &:hover svg {
            fill: #14a800;
            color: #14a800;
          }
        }
      }
      .right {
        .social-links {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          > a {
            margin-left: 15px;
            color: #222;
            font-size: 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}