/* ==========================================================================
[Form elements]
========================================================================== */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="text"],
input[type="month"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  padding: 10px;
  margin: 0;
  border-radius: 3px;
  border: #ccc solid 1px;
  font-size: 16px;
  line-height: 1.2;
  color: #222;
  &::placeholder {
    color: #222;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #222;
    opacity: 1;
  }
  &::-ms-input-placeholder {
    color: #222;
    opacity: 1;
  }
}

[type="submit"], [type="button"], button, .button {
  display: inline-block;
  padding: 5px 20px;
  margin: 0;
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  &.secondary {
    color: white;
    background-color: $green;
  }
  &.circle {
    padding: 15px 15px;
  }
}

label {
  display: block;
  font-weight: 600;
}