* {
  box-sizing: border-box;
  line-height: 1.3;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* ==========================================================================
[General classes]
========================================================================== */
// Text Alignment
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

/* ==========================================================================
[Flexbox helper]
========================================================================== */
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.flex-top {
  display: flex;
  align-items: flex-start;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

// Word Break
.break-all {
  word-break: break-all;
}

.keep-all {
  word-break: keep-all;
}

.break-word {
  word-break: break-word;
}

// Positions
.absolute {
  position: absolute!important;
}

.relative {
  position: relative!important;
}

.fixed {
  position: fixed!important;
}

.sticky {
  position: sticky!important;
  top: 0;
  left: 0;
}

.static {
  position: static!important;
}

// Margins
@for $i from 1 through 20 {
  .m-#{$i * 5} {
    margin: #{$i * 5}px!important;
  }
  .mt-#{$i * 5} {
    margin-top: #{$i * 5}px!important;
  }
  .mr-#{$i * 5} {
    margin-right: #{$i * 5}px!important;
  }
  .mb-#{$i * 5} {
    margin-bottom: #{$i * 5}px!important;
  }
  .ml-#{$i * 5} {
    margin-left: #{$i * 5}px!important;
  }
}

// Paddings
@for $i from 1 through 20 {
  .p-#{$i * 5} {
    padding: #{$i * 5}px!important;
  }
  .pt-#{$i * 5} {
    padding-top: #{$i * 5}px!important;
  }
  .pr-#{$i * 5} {
    padding-right: #{$i * 5}px!important;
  }
  .pb-#{$i * 5} {
    padding-bottom: #{$i * 5}px!important;
  }
  .pl-#{$i * 5} {
    padding-left: #{$i * 5}px!important;
  }
}

// Spaces
@for $i from 1 through 20 {
  .space-#{$i * 5} {
    height: #{$i * 5}px;
  }
}

.mv, .mh {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.mh {
  ul {
    display: flex;
    li {
      display: inline-block;
    }
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.no-padding {
  padding: 0!important;
}

.no-margin {
  margin: 0!important;
}

.no-border {
  border: none!important;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* ==========================================================================
[Browser upgrade]
========================================================================== */
.browserupgrade {
  background: yellow;
  padding: 10px;
}

/* ==========================================================================
[Selection colors]
========================================================================== */
::-moz-selection {
  color: $selection_text_color;
  background: $selection_bg_color;
}

::selection {
  color: $selection_text_color;
  background: $selection_bg_color;
}

/* Remove default bxslider styles */
.bx-wrapper {
  box-shadow: none;
  border: none;
  background: none;
}


/* ==========================================================================
[Custom scroll]
========================================================================== */
.custom-scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #22832c #3e4450;
  &::-webkit-scrollbar {
    height: 100%;
    width: 3px;
    background: #3e4450;
    -webkit-border-radius: 0;
  }
  
  &::-webkit-scrollbar {
    background: #3e4450;
  }
  
  
  &::-webkit-scrollbar-thumb {
    background: #22832c;
  }
  
  &::-webkit-scrollbar-corner {
    background: #1A1A1A;
  }

}
